<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AlloyXuast ETHASH Miner (Donation Support)</title>

    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../node_modules/toastr/build/toastr.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet">
    <link href="css/helpers.css" rel="stylesheet">
    <link href="css/logs.css" rel="stylesheet">
    <script>
        window.jQuery = window.$ = module.exports
    </script>
</head>

<body>
    <div id="app" class="container" role="main">

        <nav class="navbar navbar-expand-sm navbar-light rounded margin-top-10">
            <a v-on:click="openExternal('https://apps.nekosunevr.co.uk/')" class="navbar-brand" href="javascript:;">
                <img src="img/logo-header.png" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li v-bind:class="{ active: activeTab == 'miner'}" class="nav-item">
                        <a v-on:click="changeActiveTab('miner')" class="nav-link" href="javascript:;">
                            <i class="fa fa-globe"></i> Miner
                        </a>
                    </li>
                    <li v-bind:class="{ active: activeTab == 'logs'}" class="nav-item">
                        <a v-on:click="changeActiveTab('logs')" class="nav-link" href="javascript:;">
                            <i class="fa fa-list"></i> Logs
                        </a>
                    </li>
                    <li v-bind:class="{ active: activeTab == 'profileStats'}" class="nav-item">
                        <a v-on:click="changeActiveTab('profileStats')" class="nav-link" href="javascript:;">
                            <i class="fa fa-user-circle"></i> Status Page
                        </a>
                    </li>
                    <li v-bind:class="{ active: activeTab == 'settings'}" class="nav-item">
                        <a v-on:click="changeActiveTab('settings')" class="nav-link" href="javascript:;">
                            <i class="fa fa-cogs"></i> Settings
                        </a>
                    </li>
                    <li>
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox" />
                            <div class="slider round"></div>
                      </label>
                            <em>Enable Dark Mode!</em>
                        </div>
                    </li>
            </div>
        </nav>

        <div v-if="activeTab === 'miner'">
            <button v-on:click="toggleMiner" v-bind:class="toggleMinerClass" type="button" class="btn btn-block margin-top-20">{{ toggleMinerText }}</button>
            <table class="table table-striped margin-top-30">
                <tbody>
                    <tr hidden>
                        <td>Mining Points Earned</td>
                        <td>{{ minerPointsEarned }} <img src="img/coins.png" class="points"></td>
                    </tr>
                    <tr>
                        <td>Total Mining Points</td>
                        <td>{{ minerTotalPointsDB }} <img src="img/coins.png" class="points"></td>
                    </tr>
                    <tr>
                        <td>Uptime</td>
                        <td>{{ minerWatch }}</td>
                    </tr>
                    <tr>
                        <td>Hashrate</td>
                        <td>{{ minerHashrate }}</td>
                    </tr>
                    <tr>
                        <td>Accepted</td>
                        <td>{{ minerHashes }}</td>
                    </tr>
                    <tr>
                        <td>Ping</td>
                        <td>{{ minerPing }}</td>
                    </tr>
                    <tr>
                        <td>Threads</td>
                        <td>{{ minerThreads }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="alert alert-warning margin-top-20" role="alert">
                <strong>Note:</strong> We have Returned XP / Level System by Mining<br>You have to Mine Till get Total Mining Points to 1.00000000000000000000 = 1 USD<br>You will Mine Small till hit Freshold of you can buy stuff on our Store.<br><br>We are not Responsable any Damage you hardware take this Miner. "USE AT YOUR OWN RISK!" 
			</div>
        </div>

        <div v-show="activeTab === 'logs'" id="logs-box" class="margin-top-20">
            <p v-for="entry in log">
                {{ entry.date }} {{ entry.message }}
            </p>
        </div>

        <div v-if="activeTab === 'profileStats'">
            <div v-if="areEstimatedEarningsEmpty" class="alert alert-warning margin-top-20" role="alert">
                <strong>Important:</strong> This is only Trace your earnings and your XP / Levels. Only this will level you up or getting XP is Taking on Discord Server or Mining.<br> NOTE: Nitro Boosters and Twitch Subs get 10x XP with this miner.
                <a v-on:click="openExternal('https://apps.nekosunevr.co.uk')" href="javascript:;">JOIN NOW</a> Get Yours 10x XP
            </div>
            <form class="margin-top-10">
                <div class="form-group margin-top-20">
                    <button v-on:click="profileStats" type="button" class="btn btn-primary btn-block">Estimate Account</button>
                </div>
            </form>

            <table class="table table-striped margin-top-30">
                <tbody>
                    <tr>
                        <th scope="col">ID: </th>
                        <th scope="col">XP: </th>
                        <th scope="col">Level: </th>
                        <th scope="col">Points: </th>
                    </tr>
                    <tr>
                        <td>{{ minerID }}</td>
                        <td>{{ minerXP }}</td>
                        <td>{{ minerLevel }}</td>
                        <td>{{ minerPointsDB }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div v-if="activeTab === 'settings'">
            <form class="margin-top-20">
                <div class="form-group">
                    <label>Which worker is this?</label>
                    <select v-model="formSettings.workerId" class="custom-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    <small class="form-text text-muted">Only change this if you mine with multiple computers. Assign a different number to every PC.</small>
                </div>
		<div class="form-group">
                    <label>Which Crypto Want Support?</label>
                    <select v-model="formSettings.cryptotype" class="custom-select">
                            <option value="RECOMENDED">{{ RecomendedCoin }}</option>
                            <option value="XMR">Monero (XMR)</option>
                            <option value="DOGE">DogeCoin (DOGE)</option>
                            <option value="SHIB">SHIBA INU (SHIB)</option>
                            <option value="SOL">Solana (SOL)</option>
                            <option value="DASH">DashCoin (DASH)</option>
                            <option value="APE">ApeCoin (APE)</option>
                            <option value="ZEPH">Zephyr (ZEPH)</option>
                            <option value="ENJ">Enjin Coin (ENJ)</option>
                            <option value="BAT">Basic Attention Token (BAT)</option>
                            <option value="BNB">Binance Coin (BNB)</option>
                            <option value="ETH">Ethereum (ETH)</option>
                            <option value="MATIC">Polygon (MATIC)</option>
                            <option value="FLUX"></option>FLUX (FLUX)</option>
                    </select>
                    <small class="form-text text-muted">Only Select what Type want Support?</small>
                </div>
                <div class="form-group">
                    <label>Enter Miner USERID!?</label>
                    <input v-model="formSettings.userId" type="text" class="form-control" placeholder="Your User ID">
                    <small class="form-text text-muted">You can Get Miner UserID by Sign up Website @ <a href="https://apps.nekosunevr.co.uk">WEBSITE</a> Then go to Settings->User Settings Then Find Miner UserID</small>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="disabled" v-model="formSettings.uac">
                    <label class="form-check-label">
                            Integrated Logs (You must run the miner as administrator)
                        </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="enabled" v-model="formSettings.uac">
                    <label class="form-check-label">
                            Separate Console (Asks for elevated permissions)
                        </label>
                </div>
                <div class="form-group margin-top-20">
                    <button v-on:click="saveSettings" type="button" class="btn btn-primary btn-block">Save Settings</button>
                </div>
            </form>
        </div>

        <div v-if="update" class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Update Available</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <p>You are running version <strong>{{ version }}</strong>, version <strong>{{ update.current_version }}</strong> is now available!</p>
                        <p>Please note that your version will be deprecated soon and it might stop to work.</p>
                    </div>
                    <div class="modal-footer">
                        <button v-on:click="openExternal(urls.web.EarnMining)" type="button" class="btn btn-primary">Download Update</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">Later</button>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="update && update.backward_compatible === false" class="overlay-incompatible">
            <div class="overlay-content">
                <p>You are running version <strong>{{ version }}</strong>. This version is not supported anymore.</p>
                <p>Please download the latest version from the AlloyXuast Github.</p>
                <button v-on:click="openExternal(urls.web.EarnMining)" type="button" class="btn btn-primary margin-top-20">Download v{{ update.current_version }}</button>
            </div>
        </div>

    </div>

    <script src="../node_modules/vue/dist/vue.min.js"></script>

    <script>
        require('../renderer.js')
    </script>


    <script>

        const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
        const currentTheme = localStorage.getItem('theme');

        if (currentTheme) {
            document.documentElement.setAttribute('data-theme', currentTheme);

            if (currentTheme === 'dark') {
                toggleSwitch.checked = true;
            }
        }

        function switchTheme(e) {
            if (e.target.checked) {
                document.documentElement.setAttribute('data-theme', 'dark');
                localStorage.setItem('theme', 'dark');
            } else {
                document.documentElement.setAttribute('data-theme', 'light');
                localStorage.setItem('theme', 'light');
            }
        }

        toggleSwitch.addEventListener('change', switchTheme, false);

    </script>

</body>

</html>
